{% extends 'blog/base.html' %}

{% block title %}Home - Django Blog{% endblock %}

{% block content %}
    <h1>Latest Posts</h1>
    
    {% if posts %}
        {% for post in posts %}
            <article class="post">
                <h2 class="post-title">
                    <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
                </h2>
                <div class="post-meta">
                    By {{ post.author.username }} | {{ post.published_date|date:"F d, Y" }}
                </div>
                <div class="post-content">
                    {{ post.content|truncatewords:50 }}
                </div>
                <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary">Read More</a>
            </article>
        {% endfor %}
    {% else %}
        <p>No posts available yet.</p>
    {% endif %}
{% endblock %}