{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} - Django Blog{% endblock %}

{% block content %}
<article class="post full-post">
    <h1 class="post-title">{{ post.title }}</h1>
    
    <div class="post-meta">
        <span class="author">
            <i class="fas fa-user"></i> 
            <a href="{% url 'profile-view' post.author.username %}">{{ post.author.username }}</a>
        </span>
        <span class="date">
            <i class="fas fa-calendar"></i> {{ post.published_date|date:"F d, Y" }}
        </span>
        {% if post.updated_date|date:"U" != post.published_date|date:"U" %}
            <span class="updated">
                <i class="fas fa-edit"></i> Updated: {{ post.updated_date|date:"F d, Y" }}
            </span>
        {% endif %}
    </div>
    
    <div class="post-content">
        {{ post.content|linebreaks }}
    </div>
    
    {% if user == post.author %}
        <div class="post-actions">
            <a href="{% url 'post-update' post.pk %}" class="btn btn-secondary">Edit Post</a>
            <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger">Delete Post</a>
        </div>
    {% endif %}
    
    <div class="post-navigation">
        <a href="{% url 'home' %}" class="btn btn-outline">
            <i class="fas fa-arrow-left"></i> Back to Home
        </a>
    </div>
</article>
{% endblock %}